<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nmoment.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>5</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4DA6F72B9109C716F8A06400054D84723B945ABC</string>
				<key>dateExpires</key>
				<string>2024/04/06</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4DA6F72B9109C716F8A06400054D84723B945ABC</string>
						<key>dateExpires</key>
						<string>2024/04/06</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WebRTC.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WT23NYH654</string>
						<key>name</key>
						<string>kukwon kwon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4DA6F72B9109C716F8A06400054D84723B945ABC</string>
						<key>dateExpires</key>
						<string>2024/04/06</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WT23NYH654</string>
						<key>name</key>
						<string>kukwon kwon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4DA6F72B9109C716F8A06400054D84723B945ABC</string>
						<key>dateExpires</key>
						<string>2024/04/06</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>WT23NYH654.com.traveler.nmoment.ImageNotification</string>
						<key>aps-environment</key>
						<string>production</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>WT23NYH654</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>ImageNotification.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>0a97e3bd-9be5-466f-8f8b-1b83784fd0fa</string>
						<key>dateExpires</key>
						<string>2024/04/06</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.traveler.nmoment.ImageNotification</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WT23NYH654</string>
						<key>name</key>
						<string>kukwon kwon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WT23NYH654.com.traveler.nmoment</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>WT23NYH654</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>nmoment.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fd7d15dc-12fe-4ff5-8436-b43b338f660f</string>
				<key>dateExpires</key>
				<string>2024/04/06</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.traveler.nmoment</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WT23NYH654</string>
				<key>name</key>
				<string>kukwon kwon</string>
			</dict>
			<key>versionNumber</key>
			<string>1.4</string>
		</dict>
	</array>
</dict>
</plist>
