<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422174200666-gt92c1k621qfcb79qojj0h26n13relvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422174200666-gt92c1k621qfcb79qojj0h26n13relvb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>422174200666-c8t59gm0ld7vr9hrktacujs62igtl70s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCX_smsuC6bCZifyKInNr40mfSBgpLdIvc</string>
	<key>GCM_SENDER_ID</key>
	<string>422174200666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>6466714321</string>
	<key>PROJECT_ID</key>
	<string>nmoment-28d8f</string>
	<key>STORAGE_BUCKET</key>
	<string>nmoment-28d8f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422174200666:ios:53b5d89c91de1630c61963</string>
</dict>
</plist>